/* **********
 * style.cs *
 ************/

/* font imports */

.container_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#square_blue {
    width: 100px;
    height: 100px;
    background: blue;
}

#square_red {
    width: 100px;
    height: 100px;
    background: red;
}
