/* **********
 * style.cs *
 ************/

/* font imports */

/* ------------ */

#image_movie_top {
    width: 18.5em;
    height: auto;
}

#image_dinner_top {
    width: 25em;
    height: auto;
}
