/* **********
 * style.cs *
 ************/

/* font imports */

/* ------------ */

.container_top {
    display: flex;
    justify-content: center;
}

/*
.container_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
*/

#title {
    display: flex;
    justify-content: center;
}

#image_dinner_top {}

#image_movie_top {
    max-width: auto;
    height: auto;
}

/*
#image_dinner_bottom {
    width: .5em;
    height: .5em;
}

#image_movie_bottom {
    width: .5em;
    height: .5em;
}
*/
