/* **********
 * style.cs *
 ************/

/* font imports */

/* ------------ */

#title {
    text-align: center;
}

#image_dinner_top {
    width: 20em;
    height: auto;
    position: absolute;
    left: 1%;
    z-index: -1;
}

#image_movie_top {
    width: 10em;
    height: auto;
    position: absolute;
    top: 30%;
    left: 48%;
}

#button_refresh {
    position: absolute;
    bottom: 15%;
    left: 42%;
}
